- var projects = [{id: 1, prev: "first-site.png"}, {id: 2, prev: "second-site.png"}, {id: 3, prev: "third-site.png"}]

.slider-box
    ul.site__list(id="siteList")
        each item in projects
            li.site__item
                .site__image-box
                    +image(`content/${item.prev}`, "site__image")
                    .hover__block
    .vectors__container(id="vectorsContainer")
        button.vectors__btn.vectors__btn--next(id="nextBtn") !{'>'}
        button.vectors__btn.vectors__btn--back.vectors__btn--not-go(id="backBtn") !{'<'} 