script(type="text/x-template")#admin-header
    .container
        .user-info    
            .user-info__avatar
                img(src="./content/user.png").user-info__avatar-image
            .user-info__name Маргарита Андрюхина
        .place Панель администрирования
        .exit Выйти