- var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]

nav.menu
    ul.menu__list
        each item in menu
            li.menu__item
                a(href="#").menu__link= item

.hamburger-menu
    input(id="menu__toggle" type="checkbox")
    label(class="menu__btn" for="menu__toggle")
        span
    ul.menu__box
        each item in menu
            li.menu__item_burg
                a(href="#").menu__link= item
        .social_burg
            include social-links