script(type="text/x-template")#reviews-check-template

    h2.reviews__title Связаться со мной


        form.review__form(id="review_form" action="" )
            .form__row
                .form__element-box
                    p Введите ваше имя
                    input.form__input.form__name(type="text", placeholder="Ваше имя" v-model="name" )
                .form__element-box
                    p Введите ваш email
                    input.form__input.form__email(type="text", placeholder="Ваша почта" v-model="email")
            .form__row
                .form__element-box
                    p Сообщение к письму
                    input.form__input.form__message(type="text", placeholder="Ваш отзыв" v-model="content")
            .form__row
                button.form__submit-btn(@click="checkForm") Отправить