script(type="text/x-template")#slider-container
    .projects__container
        .slider-box
            prevs(
                :works="works"
            )
            btns
        works(
            :works="works"
        )

script(type="text/x-template")#slider-prevs
    ul.site__list(id="siteList")
        li.site__item(v-for="work in works")
            .site__image-box
                img(:src="work.prev", class="site__image")
                .hover__block

script(type="text/x-template")#slider-btns
    .vectors__container(id="vectorsContainer")
        button.vectors__btn.vectors__btn--next(id="nextBtn") !{'>'}
        button.vectors__btn.vectors__btn--back.vectors__btn--not-go(id="backBtn") !{'<'} 

script(type="text/x-template")#slider-works
    ul.preview__list(id="previewList")
        li.preview__item(v-for="work in works")
            .item__cover
                .prev
                    img(:src="work.prev", class="site__image")
                .number {{work.id}}
                .desc
                    .tools__container
                        button.tools__item HTML
                        button.tools__item CSS
                        button.tools__item Javascript
                    .desc__name {{work.name}}
                    .desc__site-desc {{work.desc}}
                    .desc__link(:src="work.link") Посмотреть сайт