.reviews__form-box
    h2.reviews__title Связаться со мной
    form.review__form(action="")
        .form__row
            .form__element-box
                p Введите ваше имя
                input.form__input.form__name(type="text", placeholder="Ваше имя")
            .form__element-box
                p Введите ваш email
                input.form__input.form__email(type="text", placeholder="Ваша почта")
        .form__row
            .form__element-box 
                p Сообщение к письму
                input.form__input.form__message(type="text", placeholder="Ваш отзыв")
        .form__row
            button.form__submit-btn Отправить