- var reviews = [{name: "Ковальчук Дмитрий", photo: "photo1.png", position: "Основатель LoftSchool", text: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!"}, {name: "Владимир Сабанцев", photo: "photo2.png", position: "Преподаватель",  text: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!"}, {name: "Роман Андрюхин", photo: "user.jpg", position: "Преподаватель", text: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!"}, {name: "Михаил Коркин", photo: "user.jpg", position: "Преподаватель",  text: "Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!"}]

.reviews__box
    ul.reviews__list
        each item in reviews
            li.reviews__item
                .reviews__desc= item.text
                .author__box
                    .author__photo
                        img(src=`/images/${item.photo}`, class="author__image")
                    .author__info
                        .author__name= item.name
                        .author__position= item.position
