footer.footer
    .container
        .author-info
            .author-info__year &copy; 2020
                .author-info__name Владимир Астаханов
                    .author-info__whatsthis Личный сайт веб-разработчика
        .connection-box
            .connection-box__menu
                include /introduce-els/menu.pug
            .connection-box__add-info
                .add-info__social-links
                    p.quote__text Этот сайт сделал в рамках обучения в Школе онлайн образования Loftschool
                    include /footer/social-links.pug
                .add-info__quote
                    p.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    p.quote__author Martin Golding