section.introduce
    section.hero
        include introduce-els/wrap.pug
        include introduce-els/who-am-i.pug
    section.about
        include /profile.pug
    .scroll__container#scroll__container Скролл
        +icon("scroll", 'scroll-image')
svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 3000" class="svg-triangle" preserveAspectRatio="none")
    polygon(points="0,0 3000,0 2500,2000")
