section.introduce
    .container
        include introduce-els/wrap.pug
        include introduce-els/who-am-i.pug
        .scroll__container Скролл
            +icon("scroll", 'scroll-image')
        include /profile.pug