section.introduce

    section.hero__bg(id='herobg')
        +image(`design/background_parallax.png`, 'image__layer')
    section.hands(id='hands')
        +image(`design/hands.png`, 'image__layer')
    section.stars(id='stars')
         +image(`design/sparks.png`, 'image__layer')
    section.hero(id="hero")
        include introduce-els/wrap.pug
        include introduce-els/who-am-i.pug
    section.about(id="about")
        include /profile.pug
    section.scroll
        .scroll__container#scroll__container


            a(href=`#`, class=`scroll-down`)="Скролл"
svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 3000" class="svg-triangle" preserveAspectRatio="none")
    polygon(points="0,0 3000,0 2500,2000")
