- var info = [{key: "Проживаю", value: "Днепр"}, {key: "Возраст", value: "25 лет"}, {key: "Родилась", value: "23 января 1995"}]
.profile
    .short-info
        .short-info__photo
            +image("content/user.jpg", "short-info__image")
        ul.short-info__list
            each infoItem in info
                li.short-info__item
                    .short-info__key= infoItem.key
                    .short-info__value= infoItem.value
    .long-info
        .long-info__hello Привет, меня зовут
        .long-info__name Маргарита Андрюхина
        .long-info__desc 
            .p Я занимаюсь разработкой современных сайтов и приложений
            .p Мне рнавится делать интересные и современные проекты
        .long-info__ps
            .p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!