- var projescts = [{id: 1, name: "Сайт школы образования", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}, {id: 2, name: "Ещё один сайт", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}, {id: 3, name: "Сайт №3", desc: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", link: "#"}]

section.pojects
    h2.projects__title Мои работы
    .projects__container
        ul.preview__list
            each item in projescts
                li.preview__item
    