//section.projects
//    .container
//        h2.projects__title Мои работы
//        #slider-component


section.works
    .container.works__container
        .section-title.works__section-title Мои работы
        .works__content#slider-component

