section.reviews
    .container.container__reviews
        .rewievs__title

            h2.reviews__title Что обо мне говорят

        .reviews__content1


                .sliders-btn__box
                    button.review-slider__btn.review-slider__btn--back.review-slider__btn--not-go(id="backBtn" @click="previous")
                        +icon('arrow-down', 'btn__icon')
                    button.review-slider__btn.review-slider__btn--next(id="nextBtn" @click="next")
                        +icon('arrow-down', 'btn__icon')
                flickity(ref="flickity" :options="flickityOptions").reviews__box



                    reviews__list(v-for="item in reviews" :key="item.name")


                        .reviews__item
                            .reviews__desc {{item.text}}

                            .author__box
                                .author__photo
                                    +image(`content/user.jpg`, "author__image")
                                .author__info
                                    .author__name {{item.name}}
                                    .author__position {{item.position}}

        include /reviews-els/reviews-form.pug
