section.reviews
    h2.reviews__title Что обо мне говорят
    .sliders-btn__box
        button.review-slider__btn.review-slider__btn--back.review-slider__btn--not-go(id="backBtn")
        button.review-slider__btn.review-slider__btn--next(id="nextBtn") 
    include /reviews-els/reviews-box.pug
    h2.reviews__form-title Связаться со мной
    include /reviews-els/reviews-form.pug