section.skills
    .container.skills__container
        .skills__image-container
        .skills__content
            .skills__h2 Чем я могу быть полезена вам
            .skills__desc
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!
            #skills-component