section.skills
    .container.skills__container
        .skills__image-container
            .guitar
            .rockskin
        .skills__content
            .skills__h2 Чем я могу быть полезен вам
            .skills__desc
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё класно и красиво!
            .skills__container_image#skills-component

